<div ng-controller="DrugController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Drugs
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tableDrugList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Trade Name</th>
                                <th>Class Name</th>
                                <th>Brand Name</th>
                                <th>Unit Type</th>
                                <th>Unit Weight/Volume</th>
                                <th>Unit Price</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="drug in drugs">
                                <td>{{ drug.tradeName }}</td>
                                <td>{{ drug.className }}</td>
                                <td>{{ drug.brandName }}</td>
                                <td>{{ drug.unitType }}</td>
                                <td>{{ drug.unitWeight }}</td>
                                <td>{{ drug.unitPrice }}</td>
                                <td>
                                    <button class="btn btn-info drug-edit-btn" ng-click="loadDrugEditor(drug)"><span
                                            class="glyphicon glyphicon-pencil"></span></button>
                                </td>

                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Trade Name</th>
                                <th>Class Name</th>
                                <th>Brand Name</th>
                                <th>Unit Type</th>
                                <th>Unit Weight/Volume</th>
                                <th>Unit Price</th>
                                <th>Edit</th>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->

    <div id="drug-edit-modal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <form class="form-horizontal" ng-submit="editDrug()">
                    <div class="modal-body">

                        <div class="box-body">

                            <div class="alert alert-success alert-dismissible auto-close-alert" ng-show="successMsg">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Success!</h4>
                                <!--<h4><i class="icon fa fa-check"></i> Alert!</h4>-->
                                <!--{{ successMsg }}-->
                            </div>

                            <div class="alert alert-danger alert-dismissible auto-close-alert" ng-show="errorMsg">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                                <!--<h4><i class="icon fa fa-check"></i> Alert!</h4>-->
                                <!--{{ successMsg }}-->
                            </div>


                            <div class="form-group">
                                <label for="input-trade-name" class="col-sm-3 control-label">Trade Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="input-trade-name"
                                           placeholder="Trade Name" ng-model="editingDrug.tradeName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input-class-name" class="col-sm-3 control-label">Class Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="input-class-name"
                                           placeholder="Class Name" ng-model="editingDrug.className">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input-brand-name" class="col-sm-3 control-label">Brand Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="input-brand-name"
                                           placeholder="Brand Name" ng-model="editingDrug.brandName">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label">Unit type</label>

                                <div class="col-sm-9">

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="option-unit-type-tablet"
                                                   id="option-unit-type-tablet" value="tablet"
                                                   ng-model="editingDrug.unitType">
                                            Tablet
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="option-unit-type-pill" id="option-unit-type-pill"
                                                   value="capsule" ng-model="editingDrug.unitType">
                                            Capsule
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="option-unit-type" id="option-unit-type-syrup"
                                                   value="syrup" ng-model="editingDrug.unitType">
                                            Syrup
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input-unit-weight" class="col-sm-3 control-label">Unit Weight/Volume</label>

                                <div class="col-sm-9">
                                    <div class="row">

                                        <div class="col-xs-6 col-sm-6 col-md-5">
                                            <div class="input-group number-spinner">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="dwn">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>

                                                <input type="text" class="form-control text-center"
                                                       id="input-unit-weight"
                                                       onkeypress="return isNumberKey(event)"
                                                       ng-model="editingDrug.unitWeight">

                                                <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="up">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input-unit-price-rs" class="col-xs-12 col-sm-3 control-label">Unit
                                    Price</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-5">
                                            <div class="input-group number-spinner">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" data-dir="dwn">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                </span>

                                                <input type="text" class="form-control text-center"
                                                       id="input-unit-price-rs"
                                                       name="input-unit-price-rs"
                                                       ng-model="editingDrug.unitPrice"
                                                       onkeypress="return isNumberKey(event)">

                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" data-dir="up">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->

                    {{ updated }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-info pull-right">Save changes</button>
                    </div>
                </form>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<script>
    function showDrugEditModal() {
        $('#drug-edit-modal').modal('show');
    }

</script>

