<div ng-controller="UnitMonthlyRequestController">
    <section class="content-header">
        <h1>

            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Data Table of Monthly Requests</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tableMonthlyRequestView" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Depatment Name</th>
                                <th>Phone</th>
                                <th>Authorized Person</th>
                                <th>Requested Date</th>
                                <th>Issued Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="department in departments">
                                <td>{{ departmentt.deptName }}</td>
                                <td>{{ departmentt.authorizedPerson }}</td>
                                <td>{{ departmentt.phone}}</td>
                                <td>{{ departmentt.requestedDate }}</td>
                                <td>{{ departmentt.issuedDate }}</td>


                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Depatment Name</th>
                                <th>Phone</th>
                                <th>Authorized Person</th>
                                <th>Requested Date</th>
                                <th>Issued Date</th>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.box-body -->
                </div><!-- /.box -->
            </div>



        </div>
    </section><!-- /.content -->


</div>