<div ng-controller="PrescriptionController">
  
  
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Prescription Details
            <small>Contents of prescriptions</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li class="active">Prescription</li>
            
        </ol>
    </section>

    <br>
    <br>
    <!-- Main content -->
    <section class="content">

      <form class="form-inline">
  
      <label class="btn btn-info">Search </label> <label> </label> 
      <input type="text" ng-model="search.patientID" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Enter Patient ID">

 
    </form>

   

    <br>

    <div class="row" >
        

        <div class="col-xs-12 col-sm-12 col-md-12">


            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Dispense Drugs</h3>
                     
                    <form class="form-inline" align = "right" name="myForm">
                  
                      <label class="btn btn-info">Search </label> <label> </label> 
                      <input type="text" ng-model="search.prescriptionID" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Enter Prescription ID" name="prescription">
                    
                     
                    </form>
                     
                </div>


                <!-- /.box-header -->
                <div class="box-body">

                 <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

                    <div class="row">
                      
                        <div class="col-sm-6">

                            

                            </div>


                        </div>
                        <br>
                        <div class="row" >

                            <div class="col-sm-12">
                                <form >
                                <table  class="table table-bordered table-striped dataTable" role="grid" >
                                    <thead >
                                       
                                        <th class="text-right">Item #</th>
                                        <th class="text-center" >Description</th>
                                        <th class="text-center">Dosage</th>
                                        <th class="text-center">Frequency</th>
                                        <th class="text-center">Period</th>
                                        <th class="text-center">Quantity</th>
                                         
                                    </thead>
                                </table>
                                <div ng-repeat="prescription in prescriptions | filter:{patientID: search.patientID , prescriptionID : search.prescriptionID}" >
                               
                               
                                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" >

                                    <tbody >
                                       
                                          
                                      <div class="container"  >
                                      
                                        <p > <h5><b>Prescription # : {{ prescription.prescriptionID }} 

                                          
                                   

                                          <br/> Patient # : {{ prescription.patientID }} <br>

                                          
                                          {{ prescription.prescriptionDate }} </b></h5>

                                         
                                        </p>

                                        </div> 
                                           
                                      
                                        <tr ng-repeat="data in prescription.druglist" >
                                            
                                            <td> </td>
                                            <td class="text-right">{{$index+1}}</td>
                                            <td class="text-center" >{{ data.description}}</td>
                                            <td class="text-right" >{{ data.dosage }}</td>
                                            <td class="text-right" >{{ data.frequency }}</td>
                                            <td class="text-center" >{{ data.period  }}</td>
                                            <td class="text-center" >{{ data.quantity }}</td>
                                            








                                  
                                        </tr> 
                                       
                                    </tbody>


                                </table>
                            
                                </div>
                            </form>
                            </div>
                        </div>

                                                    

                        <div class="row">
                            <div class="col-sm-5">
                                
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
               
            </div><!-- /.box -->
        </div>
        
      
    </div>
     </section>         
     <section class="content">   
                           
        <div class="row" >
        

        <div class="col-xs-12 col-sm-12 col-md-12">


            <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Drug Stock</h3>
                        
                         <form class="form-inline" align = "right">
  
                          <label class="btn btn-info">Search </label> <label> </label> 
                         
                           <input  id="drugid" onkeyup="myFunction()"  type="search" class="form-control input-sm" placeholder="Enter Drug Name" aria-controls="ItemList">
                     
                        </form>
                      
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="ItemList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Drug #</th>
                                    <th>Drug</th>
                                    <th>Available Qty</th>
                                    
                                   
                            </thead>
                            <tbody>
                                <tr ng-repeat="inventoryItem in inventoryItems " class="{{ inventoryItem.status }}">
                                    <td>{{$index+1}}</td>
                                    <td>{{ inventoryItem.drug.tradeName }} <span class="text-muted" style="margin-left: 10px; font-size: 0.9em">({{ inventoryItem.drug.className }})</span></td>
                            
                                    <td>{{ inventoryItem.availableQty }}</td>

                                </tr>
                            </tbody>
                            
                        </table>

                    </div>
 
                    <!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
      
 
              
     
</section><!-- /.content -->

</div>





 
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("drugid");
  filter = input.value.toUpperCase();
  table = document.getElementById("ItemList");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>






 
