<div ng-controller="SupplierController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Supplier Requests
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="tableSupplierList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Supplier</th>
                                <th>Expected Delivery Date</th>
                                <th>Drugs</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="request in requests">
                                <td>{{ request.supplier }}</td>
                                <td>{{ request.expectedDate }}</td>
                                <td>{{ request.drugs }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Supplier</th>
                                <th>Expected Delivery Date</th>
                                <th>Drugs</th>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.box-body -->
                </div><!-- /.box -->
            </div>



        </div>
    </section><!-- /.content -->



</div>
