<div ng-controller="PatientsController">

    <section class="content-header">
        <h1>
            Prescription..

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-md-8">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Add Prescription</h3>


                        <form ng-submit="addPatients(patients)">
                            <div class="box-body">

                                <div class="alert alert-success alert-dismissible auto-close-alert" ng-show="successMsg">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-check"></i> Success!</h4>

                                </div>

                                <div class="alert alert-danger alert-dismissible auto-close-alert" ng-show="errorMsg">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-ban"></i> Error!</h4>

                                </div>


                                <div class="form-group">
                                    <label for="input-id" class="control-label">Prescription ID</label>

                                    <input type="text" class="form-control" id="input-id" placeholder="ID"
                                           ng-model="prescript.id">


                                </div>

                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right" id="date">
                                </div>

                                <div class="form-group">
                                    <label for="input-firstname" class="control-label">Patient ID</label>

                                    <input type="text" class="form-control" id="input-firstname" placeholder="Patient ID"
                                           ng-model="patients.firstname">


                                </div>
                                <div class="form-group">
                                    <label for="input-lastname" class="control-label">Prescriber ID</label>


                                    <input type="text" class="form-control" id="input-lastname" placeholder="Last Name"
                                           ng-model="patients.lastname">

                                </div>


                                <div class="form-group">
                                    <label for="input-drug" class="col-sm-2 control-label">Drug</label>
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" id="input-drug" placeholder="Phone"
                                               ng-model="patients.phone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="input-quantity" class="col-sm-2 control-label">quantity</label>
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" id="input-quantity" placeholder="Phone"
                                               ng-model="patients.phone">
                                    </div>
                                </div>
                                </br></br>
                                <div class="form-group">
                                    <label for="input-description" class="col-sm-2 control-label">Description</label>
                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" id="input-description" placeholder="Phone"
                                               ng-model="patients.phone">
                                    </div>
                                </div>

                            </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">Add</button>
                            </div>

                        </form>

                    </div><!-- /.box -->
                </div>

            </div>
            <div class="col-md-8">
                <p class="margin"></p>
                <div class="box">

                    <div class="box-body">
                        <table id="tablePatientsList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Drug</th>
                                <th>Quantity</th>
                                <th>Description</th>

                                <!-- dfghj-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="patients in patients">
                                <td>{{ patients.id }}</td>
                                <td>{{ patients.firstname }}</td>
                                <td>{{ patients.lastname }}</td>


                            </tr>
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>


        </div>
    </section><!-- /.content -->
</div>
