<div ng-controller="DrugController">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Add Drugs
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>
                    </div><!-- /.box-header -->

                    <form class="form-horizontal" ng-submit="addDrug(drug)">
                        <div class="box-body">

                            <div class="alert alert-success alert-dismissible auto-close-alert" ng-show="successMsg">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Success!</h4>
                                <!--<h4><i class="icon fa fa-check"></i> Alert!</h4>-->
                                <!--{{ successMsg }}-->
                            </div>

                            <div class="alert alert-danger alert-dismissible auto-close-alert" ng-show="errorMsg">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Error!</h4>
                                <!--<h4><i class="icon fa fa-check"></i> Alert!</h4>-->
                                <!--{{ successMsg }}-->
                            </div>


                            <div class="form-group">
                                <label for="input-trade-name" class="col-sm-3 control-label">Trade Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="input-trade-name" placeholder="Trade Name" ng-model="drug.tradeName">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input-class-name" class="col-sm-3 control-label">Class Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="input-class-name" placeholder="Class Name" ng-model="drug.className">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input-brand-name" class="col-sm-3 control-label">Brand Name</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="input-brand-name" placeholder="Brand Name" ng-model="drug.brandName">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label">Unit type</label>

                                <div class="col-sm-9">

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="option-unit-type-tablet" id="option-unit-type-tablet" value="tablet" ng-model="drug.unitType">
                                            Tablet
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="option-unit-type-pill" id="option-unit-type-pill" value="pill"  ng-model="drug.unitType">
                                            Pill
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="option-unit-type" id="option-unit-type-syrup" value="syrup"  ng-model="drug.unitType">
                                            Syrup
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input-unit-weight" class="col-sm-3 control-label">Unit Weight/Volume</label>

                                <div class="col-sm-9">
                                    <div class="row">

                                        <div class="col-xs-6 col-sm-6 col-md-5">
                                            <div class="input-group number-spinner">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="dwn">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>

                                                <input type="text" class="form-control text-center"
                                                       id="input-unit-weight"
                                                       onkeypress="return isNumberKey(event)" ng-model="drug.unitWeight">

                                                <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="up">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="input-unit-price-rs" class="col-xs-12 col-sm-3 control-label">Unit Price</label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-6 col-md-5">
                                            <div class="input-group number-spinner">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" data-dir="dwn">
                                                        <span class="glyphicon glyphicon-minus"></span>
                                                    </button>
                                                </span>

                                                <input type="text" class="form-control text-center"
                                                       id="input-unit-price-rs"
                                                       name="input-unit-price-rs"
                                                       ng-model="drug.unitPrice"
                                                       onkeypress="return isNumberKey(event)"
                                                        >

                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" data-dir="up">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                        <!--<div class="col-xs-4 col-sm-5 col-md-4">-->
                                            <!--<div class="input-group number-spinner">-->
                                    <!--<span class="input-group-btn">-->
                                        <!--<button class="btn btn-default" data-dir="dwn">-->
                                            <!--<span class="glyphicon glyphicon-minus"></span>-->
                                        <!--</button>-->
                                    <!--</span>-->

                                                <!--<input type="text" class="form-control text-center"-->
                                                       <!--id="input-unit-price-cents"-->
                                                       <!--name="input-unit-price-cents" value="00"-->
                                                       <!--onkeypress="return isNumberKey(event)" maxlength="2">-->

                                                <!--<span class="input-group-btn">-->
                                        <!--<button class="btn btn-default" data-dir="up">-->
                                            <!--<span class="glyphicon glyphicon-plus"></span>-->
                                        <!--</button>-->
                                    <!--</span>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-right">Add Drug</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>

                </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->

</div>