
  <div ng-controller="PatientController">

    <section class="content-header">
        <h1>
           Patients
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-md-6">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Add Patients</h3>


                        <form ng-submit="addPatients(patient)">
                            <div class="box-body">

                                <div class="alert alert-success alert-dismissible auto-close-alert" ng-show="successMsg">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-check"></i> Success!</h4>

                                </div>

                                <div class="alert alert-danger alert-dismissible auto-close-alert" ng-show="errorMsg">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-ban"></i> Error!</h4>

                                </div>

                                <div class="form-group">
                                    <label for="input-firstname" class="control-label">First Name</label>


                                    <input type="text" class="form-control" id="input-firstname" placeholder="First Name"
                                           ng-model="patient.firstname">

                                </div>
                                <div class="form-group">
                                    <label for="input-lastname" class="control-label">Last Name</label>


                                    <input type="text" class="form-control" id="input-lastname" placeholder="Last Name"
                                           ng-model="patient.lastname">

                                </div>

                                <div class="form-group">
                                    <label for="input-phone" class="control-label">Phone</label>


                                    <input type="text" class="form-control" id="input-phone" placeholder="Phone"
                                           ng-model="patient.phone">

                                </div>

                                <div class="form-group">
                                    <label for="input-address" class="control-label">Address</label>


                                    <textarea class="form-control" id="input-address" placeholder="Address"
                                              ng-model="patient.address"></textarea>

                                </div>

                                <div class="form-group">
                                    <label for="input-email" class="control-label">Email</label>


                                    <input type="email" class="form-control" id="input-email" placeholder="Email"
                                           ng-model="patient.email">

                                </div>


                            </div>

                            <div class="box-footer">
                                <button type="submit" class="btn btn-info pull-right">Add Patients</button>
                            </div>

                        </form>

                    </div><!-- /.box -->
                </div>

            </div>
            <div class="col-md-6">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat">search</button>
                    </span>
                </div>
                <p class="margin"></p>
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Patients detail</h3>
                    </div>

                    <div class="box-body">
                        <table id="tablePatientsList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Email</th>
                                <!-- dfghj-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="patient in patients">
                                <td>{{ patient.id }}</td>
                                <td>{{ patient.firstname }}</td>
                                <td>{{ patient.lastname }}</td>
                                <td>{{ patient.phone }}</td>
                                <td>{{ patient.address }}</td>
                                <td>{{ patient.email }}</td>

                            </tr>
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>


            </div>
    </section><!-- /.content -->
  </div>
