
  <div ng-controller="PatientsController">

    <section class="content-header">
        <h1>
           Patients
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>


    <section class="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Patients detail</h3>
                    </div>

                    <div class="box-body">
                        <table id="tablePatientsList" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="patients in patients">
                                <td>{{ patients.id }}</td>
                                <td>{{ patients.firstname }}</td>
                                <td>{{ patients.lastname }}</td>
                                <td>{{ patients.phone }}</td>
                                <td>{{ patients.address }}</td>
                                <td>{{ patients.email }}</td>

                            </tr>
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>

            <div class="col-xs-12 col-sm-10 col-md-4">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Data Table With Full Features</h3>


                    <form ng-submit="addPatients(patients)">
                        <div class="box-body">

                            <div class="alert alert-success alert-dismissible auto-close-alert" ng-show="successMsg">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-check"></i> Success!</h4>

                           </div>

                            <div class="alert alert-danger alert-dismissible auto-close-alert" ng-show="errorMsg">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> Error!</h4>

                            </div>


                            <div class="form-group">
                                <label for="input-id" class="control-label">Name</label>


                                <input type="text" class="form-control" id="input-id" placeholder="Name"
                                       ng-model="patients.id">

                            </div>
                            <div class="form-group">
                                <label for="input-firstname" class="control-label">First Name</label>


                                <input type="text" class="form-control" id="input-firstname" placeholder="First Name"
                                       ng-model="patients.firstname">

                            </div>
                            <div class="form-group">
                                <label for="input-lastname" class="control-label">Last Name</label>


                                <input type="text" class="form-control" id="input-lastname" placeholder="Last Name"
                                       ng-model="patients.lastname">

                            </div>

                            <div class="form-group">
                                <label for="input-phone" class="control-label">Phone</label>


                                <input type="text" class="form-control" id="input-phone" placeholder="Phone"
                                       ng-model="patients.phone">

                            </div>

                            <div class="form-group">
                                <label for="input-address" class="control-label">Address</label>


                                <textarea class="form-control" id="input-address" placeholder="Address"
                                          ng-model="patients.address"></textarea>

                            </div>

                            <div class="form-group">
                                <label for="input-email" class="control-label">Email</label>


                                <input type="email" class="form-control" id="input-email" placeholder="Email"
                                       ng-model="patients.email">

                            </div>


                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-right">Add Patients</button>
                        </div>

                    </form>

                    </div><!-- /.box -->
                </div>

            </div>
            </div>
    </section><!-- /.content -->
  </div>
